<!DOCTYPE html>
<lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 style="color: red">
      Hola alumnos estamos viendo nuestra primera plantilla
  </h1>
    <p>El nombre del profesor es: {{nombre.upper}} {{apellido.upper}}</p>
    <p>Estamos viendo el temas de las plantillas a d&iacute;a: {{momento_actual.day}} / {{momento_actual.month}} / {{momento_actual.year}}</p>
    <p><strong>Temas del curso:</strong></p>
    <p>
      <ul>
        {% if temas%}
          {% for tema in temas %}
            <li>{{tema}}</li>
          {% endfor %}
        {% else %}
          <p>No hay elementos que mostrar</p>
        {% endif %}
      </ul>

    </p>
</body>
</html>
